commands:
  00_cloudwatch_packages:
    command: "sudo yum install perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https -y"
    ignoreErrors: true
  01_monitoring_scripts:
    command: "sudo curl http://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.1.zip -O"
    cwd: "/opt"
  02_monitoring_scripts:
    command: "sudo unzip -u /opt/CloudWatchMonitoringScripts-1.2.1.zip -d /opt/ && rm -f CloudWatchMonitoringScripts-1.2.1.zip"
    cwd: "/opt"
    test: "[ ! -f /opt/CloudWatchMonitoringScripts-1.2.1.zip]"
  03_cron_metrics:
    command: "sudo echo '*/5 * * * * /opt/aws-scripts-mon/mon-put-instance-data.pl --disk-space-util --disk-path=/ --from-cron' | tee -a /var/spool/cron/root"
    test: "[ ! -f /var/spool/cron/root ] || [ $(grep -c 'mon-put-instance-data.pl' /var/spool/cron/root) -eq 0 ]"
