commands:
  00_cloudwatch_packages:
    command: "sudo yum install perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https -y"
    ignoreErrors: true
  01_monitoring_scripts:
    command: "curl http://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.1.zip -O"
    cwd: "/opt"
  02_monitoring_scripts:
    command: "unzip CloudWatchMonitoringScripts-1.2.1.zip && rm CloudWatchMonitoringScripts-1.2.1.zip && cd aws-scripts-mon"
    cwd: "/opt"
    test: "[ ! -f /opt/CloudWatchMonitoringScripts-1.2.1.zip]"
