packages: 
  rpm:
    atomic: https://updates.atomicorp.com/channels/atomic/centos/6/i386/RPMS/atomic-release-1.0-21.el6.art.noarch.rpm
    epel: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
    httpparser: https://kojipkgs.fedoraproject.org/packages/http-parser/2.7.1/3.el7/x86_64/http-parser-2.7.1-3.el7.x86_64.rpm
commands:
  enable_epel:
    command: "yum-config-manager --enable epel"