container_commands:
  01_ossec_agent_conf:
    command: sed -i 's/<server-ip>.*<\/server-ip>/<server-ip>OSSEC_MANAGER_IP<\/server-ip>/g' /var/ossec/etc/ossec-agent.conf
    test: "[ -z $(grep 'OSSEC_MANAGER_IP' /var/ossec/etc/ossec.conf) ]"
  02_ossec_key:
    command: "/var/ossec/bin/agent-auth -m OSSEC_MANAGER_IP -p 1515 -A $(curl -s http://169.254.169.254/latest/meta-data/instance-id)"
    test: "[ ! -f /var/ossec/etc/client.keys ]"
  03_ossec_start:
     command: "/var/ossec/bin/ossec-control restart"
     test: "[ $(/var/ossec/bin/ossec-control status | grep -c 'not running') -ne 0 ]"
  04_dev_tools:
    command: "yum groupinstall -y 'Development Tools'"
  05_libsodium_1:
    command: "test -d /opt/libsodium && cd /opt/libsodium && git pull || git clone https://github.com/jedisct1/libsodium"
    cwd: "/opt"
    ignoreErrors: true
  06_libsodium_2:
    command: "cd /opt/libsodium && sudo bash /opt/libsodium/autogen.sh && sudo bash /opt/libsodium/configure && sudo make && sudo make check && sudo make install"
    cwd: "/opt/libsodium"
  07_codeigniter:
    command: "wget -O/opt/codeigniter-3.1.5.zip https://codeload.github.com/bcit-ci/CodeIgniter/zip/3.1.5"
    cwd: "/opt"
  08_codeigniter:
    command: "sudo mkdir -p /var/app/ondeck && sudo unzip codeigniter-3.1.5.zip -d /var/app/ondeck/"
    cwd: "/opt"
  09_codeigniter:
    command: "sudo mv -f /var/app/ondeck/CodeIgniter-3.1.5/* /var/app/ondeck/ && rm -rf /var/app/ondeck/CodeIgniter-3.1.5"
  98_ntp_service:
    command: "chkconfig ntpd on"
    test: "[ $(chkconfig --list ntpd | grep -c ':on') -eq 0]"
  99_httpd_restart:
    command: "/etc/init.d/httpd restart"